/* 기본 페이지 스타일 */
.page {
  /* width: 100%; */
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: hidden; /* 기본적으로 스크롤 막기 */
  padding-bottom: 90px; /* 네비게이션 바 높이만큼 여백 추가 3/6 4:06 */ 
}

/* 페이지 타입별 스타일 */
.page-type-default {
  padding: 7vw;
}

.page-type-notice {
  padding: 0 7vw;
  padding-bottom: 90px;
  background: transparent; /* 배경을 투명하게 설정하여 Background 컴포넌트가 보이도록 함 */
}

.page-type-board {
  padding: 20px;
  padding-bottom: 90px;
}

.page-type-form {
  padding: 16px;
  padding-bottom: 90px;
}

.page-type-detail {
  padding: 20px;
  padding-bottom: 90px;
}

/* ✅ 스크롤 가능한 경우 */
.scrollable {
  overflow-y: auto !important;
}

.no-scroll {
  overflow-y: hidden !important;
  height: 100vh !important;
  max-height: 100vh;
}

.page.no-scroll {
  padding-bottom: 60px !important;
  overflow-y: hidden;
}

/* ✅ 내부 컨테이너가 100vh 초과하지 않도록 제한 */
.section-product-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}